.NewTask {
    color: var(--gray-300);
    justify-content: center;
    align-items: center;
    gap: 8px;
    display:flex;
    margin-top:-27px;


    
}
.NewTask img {
    width: 5.625rem;
    height: 3.25rem;
    align-items: center;
    cursor: pointer;


}

.NewTask .novatarefa {
    color: var(--gray-300);
    background: var(--gray-500);
    font-size: 1rem;
    font-variant: normal;
    max-width: 736px;
    border-radius: 0.3rem;
    gap: 8px;
    height: 3.375rem;
    justify-content: center;
    align-items: center;
    flex:1;
    padding: 1rem;
}